body
{
    font-family: "Raleway";
    margin: 0;
    
}

/* ------------- EN TETE ------------------    */


nav
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;

}
.hb
{
    grid-column: 3;
    border-top: #0065fc 3px solid;
}

#link-n:hover
{
    
}
#link-hb
{
    text-decoration: none;
    color:#0065fc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-act
{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-act:hover
{
    border-top: #0065fc 3px solid;
    color: #0065fc;
}

#link-src
{
    text-decoration: none;
    color:#0065fc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-src:hover
{
    border-top: #0065fc 3px solid;
}

img
{
    width: 180px;
}

/* --------------- BARRE DE RECHERCHE---------------*/


.logo-map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.research-box
{
    display: flex;
    padding: 15px;
}
.research-bar
{
    height: 50px;
    width: 250px;
    padding-left: 10px;
    border:none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-family: "Raleway" sans-serif;
;
}
.button-research
{
    background-color: #0065fc;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border:none;
    height: 55px;

}

.button-research:hover
{
    background-color:darkblue;
    cursor:auto;
}

#link-r
{
    color: white;
    text-decoration: none;
}

/*---------------- FILTRES --------------------*/


.filtres
{
    display: flex;
}
.filtres-ul
{
    width: 850px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.filtres-clic
{
    border: solid 2px #d9d9d9;
    border-radius: 100px;
    padding-right: 30px;
}

#filtres-cliq
{
    text-decoration: none;
}

.filtres-clic:hover
{
    cursor: pointer;
    transform:scale(1.2);
    transition: ease 0.4s; 
    color: #0065fc;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    background-color: rgba(0, 101, 252, 0.25);
    padding: 17px;
    border-radius: 100px;
    margin-right: 7px;
    color: #0065fc;

}
.info
{
    display: flex;
    align-items: center;
    
}
.fa-info
{
    text-align:center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 1px;
    border: 1px #d9d9d9 solid;
    border-radius: 100px;
    color: #0065fc;
}
.blocs
{
    display: flex;
}

/*------------------HEBERGEMENT MARSEILLE------------*/


.bloc-hotel
{
    width: 57%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    height: 50%;
    
}

a
{
    color: initial;
    text-decoration: none;
}

.marseille-cases
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
    height: 60%;
}

.hotel-name, .hotel-price, .stars
{
    width: 180px;
    font-size: smaller;
    margin: 3%;
}

.stars
{
    color: #0065fc;
}

#grey
{
    color: #d9d9d9;
}

.marseille-case-img-host
{
    height: 100px;
    width: 220px;
}

.price
{
    padding-left: 3px;
    font-weight: bold;
}

.marseille-case
{
    background-color: white;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
}


.marseille-case:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}



.marseille-case-img-host
{
    border-radius: 15px 15px 0px 0px;

}
.title-h2-hotel
{
    padding: 10px;
    padding-top: 20px;
}

#blocs
{
    display: flex;
    justify-content: space-between;
}


/*---------------POPULAIRE-----------*/


.bloc-most-popular
{
    background-color: #F2F2F2;
    width: 37%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}



.title-h2-and-icon
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}



.most-popular
{
  display: flex;
  border-radius: 15px;
  box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
  margin: 20px;
  background-color: white;
  height: 130px;
  padding: 3px;
}

.most-popular:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.most-popular-img
{
    height: 130px;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
}



.case-text-mp
{
    width: 220px;
    border-radius: 0 15px 15px 0;
    
}

.hotel-name, .hotel-price
{
    display: flex
}


/*------------------- ACTIVITE -------------------*/


.marseille-activities
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 21px;
}
.activity-all
{
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
}

#t1,#t2,#t3,#t4,#t5,#t6
{
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    width: 300px;
}


.card__title
{
    padding-left: 10px;
}


.activity-all:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}







/* ------------------------------FOOTER---------------------*/


.footer
{
    background-color: #F2F2F2;
    height: 200px;
    padding-top: 20px;
    
}
.footer-blocs
{
    display: flex;
    justify-content: space-around;
}

.footer-bloc
{
    display: flex;
    flex-direction: column;
}