body
{
    font-family: "Raleway";
    margin: auto;

}

header,main
{
    max-width: 1440px;
    margin: auto;
}



/* ------------- EN TETE ------------------    */


nav
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    padding-left: 10px;

}
.hb
{
    grid-column: 3;
    border-top: #0065fc 3px solid;
}

#link-r
{
   font-weight: bold; 
}
#link-hb
{
    text-decoration: none;
    color:#0065fc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-act
{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-act:hover
{
    border-top: #0065fc 3px solid;
    color: #0065fc;
}

#link-src
{
    text-decoration: none;
    color:#0065fc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-src:hover
{
    border-top: #0065fc 3px solid;
}

img
{
    width: 180px;
}

/* --------------- BARRE DE RECHERCHE---------------*/

.title-h1,.subtitle
{
    padding-left: 10px;
}

.logo-map
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.research-box
{
    display: flex;
    padding: 10px;
}
.research-bar
{
    height: 50px;
    width: 250px;
    padding-left: 10px;
    border:none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-family: "Raleway" sans-serif;
    font-weight: bold;
}
.button-research
{
    background-color: #0065fc;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border:none;
    height: 55px;

}

.button-research:hover
{
    background-color:darkblue;
    cursor:auto;
}

#link-r
{
    color: white;
    text-decoration: none;
}

/*---------------- FILTRES --------------------*/


.filtres
{
    display: flex;
    padding-left: 10px;
}
.filtres-ul
{
    width: 850px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.title-h2
{
    padding-top: 12px;
}


.filtres-clic
{
    border: solid 2px #d9d9d9;
    border-radius: 100px;
    padding-right: 30px;
}

#filtres-cliq
{
    text-decoration: none;
}

.filtres-clic:hover
{
    cursor: pointer;
    transform:scale(1.2);
    transition: ease 0.4s; 
    color: #0065fc;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    background-color: rgba(0, 101, 252, 0.25);
    padding: 17px;
    border-radius: 100px;
    margin-right: 7px;
    color: #0065fc;

}
.info
{
    display: flex;
    align-items: center;
    
}
.fa-info
{
    text-align:center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 1px;
    border: 1px #d9d9d9 solid;
    border-radius: 100px;
    color: #0065fc;
}
.blocs
{
    display: flex;
}


/*------------------HEBERGEMENT MARSEILLE------------*/


.bloc-hotel
{
    width: 57%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 45px;
    height: 50%;
    
}

a
{
    color: initial;
    text-decoration: none;
}

.marseille-cases
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
    height: 60%;
}

.hotel-name, .hotel-price, .stars
{
    width: 180px;
    font-size: smaller;
    margin: 3%;
}

.stars
{
    color: #0065fc;
}

#grey
{
    color: #d9d9d9;
}

.marseille-case-img-host
{
    height: 100px;
    width: 220px;
}

.price
{
    padding-left: 3px;
    font-weight: bold;
}

.marseille-case
{
    background-color: white;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
}


.marseille-case:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}



.marseille-case-img-host
{
    border-radius: 15px 15px 0px 0px;

}
.title-h2-hotel
{
    padding: 10px;
    padding-top: 20px;
}

#blocs
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}


/*---------------POPULAIRE-----------*/


.bloc-most-popular
{
    background-color: #F2F2F2;
    width: 37%;
    padding-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}



.title-h2-and-icon
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}



.most-popular
{
  display: flex;
  border-radius: 15px;
  box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
  margin: 20px;
  background-color: white;
  height: 130px;
  padding: 3px;
}

.most-popular:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.most-popular-img
{
    height: 130px;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
}



.case-text-mp
{
    width: 220px;
    border-radius: 0 15px 15px 0;
    
}

.hotel-name, .hotel-price
{
    display: flex
}


/*------------------- ACTIVITE -------------------*/


#activites
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2rem 12vw 0.5vw 0.5vw 12vw;
    grid-gap: 2vw ;
    width: 95%;
    margin: auto;
    height: 100%;
    padding: 0 20px 30px 20px;
    order: 3;
}


.title-part-actvt
{
    grid-column: 1 /5;
    grid-row: 1;
}


.img-actvt
{
    width:100%;
    height: 100%;
    border-radius: 20px 20px ;
    object-fit: cover;
    padding-bottom: 3rem;
    box-shadow: 1px 1px 17px -10px rgba(0,0,0,0.75);
}

.card-items-actvt:hover
{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

.title-actvt
{
    margin: -48px 0px -40px 25px;
}


#actvt-1
{
    grid-column: 1;
    grid-row: 2 / 6 ;
}

#actvt-2
{
    grid-column: 2;
    grid-row: 2/4;
}

#actvt-3
{
    grid-column: 2;
    grid-row: 5;
}

#actvt-4
{
    grid-column: 3;
    grid-row: 2 / 6;
}

#actvt-5
{
    grid-column: 4;
    grid-row: 2/4;
}

#actvt-6
{
    grid-column: 4;
    grid-row:  5;
}







/* ------------------------------FOOTER---------------------*/


.footer
{
    background-color: #F2F2F2;
    height: 200px;
    padding-top: 20px;
    margin-top: 50px;
    
}
.footer-blocs
{
    display: flex;
    justify-content: space-around;
}

.footer-bloc
{
    display: flex;
    flex-direction: column;
}

.footer-link:hover
{
text-decoration: underline;
}





@media screen and (max-width: 1250px)
{

    #blocs
    {
        display: block;
        width: 100%;
    }

.bloc-hotel
{
    width: 100%;
    display: block;
    max-width: 870px;
    padding: 0 25px 25px 25px;
    margin: auto;
    order: 2;
}

.bloc-most-popular
{
    width: 100%;
    display: block;
    max-width: 870px;
    padding: 0 25px 25px 25px;
    margin: auto;
    margin-top: 21px;
    order: 1;
}

nav
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;

}

#activites
{
    grid-gap: 4vw;
}


}




@media screen and (max-width: 850px)
{

    header, main
    {
        max-width: 350px;
    }

    
    nav
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hb
    {
        grid-row: 2;
        grid-column: 1;
        width: 170px;
        border-top: 0px;
        border-bottom: solid 3px #0065fc;
    }

    .act 
    {
        grid-row: 2;
        width: 170px;
        border-bottom: solid 3px #d9d9d9;
    }

    .scr 
    {
        grid-column: 2;
        padding-left: 50px;
        font-weight: bolder;
    }

    #link-src:hover
    {
        border-top: 0px;
    }

    #link-act:hover
    {
        border-top: 0px;
        border-bottom: #0065fc solid 3px;
    }





    .title-h1
    {
    font-size: 1.3em;
    width: 80%;
    }

    ::placeholder
    {
        font-size: 1.4em;
    }

    .filtres
    {
        display: inline;
        height: 500px;
    }
    .filtres-ul
    {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding-left: 0px;
        height: 200px
    }

    #fam
    {
        position: absolute;
        right: 30px;
    }


    .bloc-hotel
    {
        background-color: initial;
        padding: 0;
        margin: auto;
    }

    .title-h2-hotel
    {
        padding-left: 0;
    }

    
    .marseille-cases
    {
       display: inline;

    }

    .marseille-case
    {
        margin-bottom: 25px;
    }

    .marseille-case-img-host
    {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }


    .afficher-plus
    {
        padding: 20px;
        padding-left: 0;
        font-weight: bold;
    }

    .bloc-most-popular
    {
        border-radius: 0;
        padding: 5px;
        margin: auto;
        
    }
    

    .hotel-name, .hotel-name
    {
        width: 130px;
    }


    #activites
    {
        display: flex;
        flex-direction: column;
        margin:auto;
    }

    .img-actvt
    {
        object-fit: cover;
    }

    .card-items-actvt
    {
        padding-bottom: 55px;
        width: 100%;
        height: 133px;
    }

    .footer
{
    background-color: #F2F2F2;
    height: 100%;
    padding-top: 20px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin: auto;
    
}
.footer-blocs
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-link
{
    padding-bottom: 17px;
}





}